@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem; /* 64px */
  letter-spacing: .05rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

strong {
  font-weight: 700;
}

.light {
  font-weight: 200;
  font-family: 'Nunito Sans';
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #363636;
    line-height: 1.125em;
    margin: 1rem 0;
}

.title {
  font-weight: bolder;
}

.title:not(:last-child), .subtitle:not(:last-child) {
    margin-bottom: 1rem;
}

.accent .subtitle {
    color: rgba(255, 255, 255, 0.9);
}

.title + .subtitle { /* Make the subtitlte closer to the title */
    margin-top: -1.25rem;
}

p, article, blockquote {
  font-size: 1rem;
  line-height: 2rem;
      margin: 2rem 0;
      word-wrap: break-word;
}

/* Weights */
.font-thin {
  font-weight: 200;
}

.font-light {
  font-weight: 300;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.rtl {
  direction: rtl;
}

.white {
  color: #fff !important;
}

.faded {
  opacity: 0.75;
}

.italics {
  font-style: italic;
}

/* Font Awesome */
.icon { /* Usually used in spans */
  display: inline-block;
font-size: 21px; /* Best font sizes are multiples of 7 */
height: 1.5rem;
line-height: 1.5rem;
text-align: center;
vertical-align: top;
width: 1.5rem;
}

.icon .fa {
    font-size: inherit;
    line-height: inherit;
}
.fa {
    font-size: 21px;
    text-align: center;
    vertical-align: top;
}

.info {
    display: block;
    font-size: 0.75rem;
    margin-top: 5px;
}

.info.success {
  color: #4CAF50;
}

.info.error {
  color: #F44336;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/* MOBILE */

@media (max-width: 550px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
}
