.header {
        -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch; /* Make items fill up all available space regardless of width https://drafts.csswg.org/css-align/ */
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 3.5rem;
    position: relative;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 3px 15px rgba(57, 63, 72, 0.3);
}

/* These styles can also be used on menus in the body */
.header-left, .header-right {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
}

/* Align items to the left */
.header-left {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Align items to the right */
.header-right {
       display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

/* Centering items */
.header-center {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Static header at the top of the screen */
.header-fixed {
    position: fixed;
}

/* Wrapper to vertically center header items */
.header-item {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 0 .3rem;
    cursor: hand;
}

.header-item a {
    padding: 0.5rem 0.75rem;
}

/* Hover effect for header elements when appropriate */
.header-item:not(.no-hover):hover {
     -webkit-transition: all .3s;
     transition: all .3s;
      background-color: rgba(0, 0, 0, 0.05);
}

.header-item.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/* HEADER DROP DOWN MENU */
.header-item .dropdown-menu {
        margin-top: -5px;
    background-color: #fff;
    border-radius: 2px;
        position: absolute;
    top: 95%;
    z-index: 1000;
    display: none !important;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.1);
}

.dropdown-menu.shown{
    display: block !important;
}

.dropdown-menu > li > a {
    display: block;
        padding: .5rem 1rem;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
}

.dropdown-menu > li {
  margin: 0;
    -webkit-transition: all .3s;
     transition: all .3s;
}

.dropdown-menu > li:hover {
    -webkit-transition: all .3s;
     transition: all .3s;
      background-color: rgba(0, 0, 0, 0.05);
}

.dropdown-menu > li:last-child {
    margin-bottom: 0;
}

.header-btn {
    cursor: pointer;
    display: block;
    height: 3.5rem;
    position: relative;
    width: 3.5rem;
}

@media screen and (min-width: 769px) {
    .header-right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

/* Hide hamburger button */
    .header-btn {
    display: none;
}
}

@media screen and (max-width: 768px) {
  .header-menu.is-active {
      display: block;
  }

/* Dropdown menu for smaller screen sizes */
  .header-menu {
        background-color: white;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }

  .dropdown-menu.shown {
    margin-top: 0;
    position: relative;
    float: left;
    margin-left: 20px;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* Make the menu items larger in the dropdown menu */
  .header-menu .header-item {
    padding: 1rem 0;
  }

  /* Get rid of extra spaces */
  .header-menu .header-item > a {
    padding: 0;
  }

  /* Hamburger button */
  .header-btn span {
        background-color: #4D565F;
    display: block;
    height: 2px;
    left: 50%;
    margin-left: -7px;
    position: absolute;
    top: 50%;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    -webkit-transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, -webkit-transform;
    transition-property: background, left, opacity, transform;
    transition-property: background, left, opacity, transform, -webkit-transform;
    width: 15px;
  }

  /* Line spacing in hamburger button */
  .header-btn span:nth-child(1) {
    margin-top: -6px;
  }

  .header-btn span:nth-child(2) {
    margin-top: -1px;
  }

  .header-btn span:nth-child(3) {
    margin-top: 4px;
  }
}
