a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #4D565F;
  text-decoration: none;
  font-weight: 600;
      padding: 2px;
      -webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

a:hover {
  color: #7C8B9A;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  -webkit-backface-visibility:hidden;
         backface-visibility:hidden;
}

a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
	text-decoration:none;
}

/* Animated links */

/* Underline */

.u:after {
  content: "";
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
      bottom: -0.25em;
}

.u:hover:after {
  width: 100%
}

.u-LR:after { /* Left to Right */
  left: 0;
}

.u-RL:after { /* Right to Left */
  right: 0;
}

.u-RL:hover:after {
  width: 100%;
}

.u-C:after { /* Center Outwards */
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Underline top and bottom */
.utb:before, .utb:after {
  content: "";
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      height: 0.1rem;
      width: 0;
      background: #7C8B9A;
}

.utb:before {
  top: -0.25em;
}

.utb:after {
  bottom: -0.25em;
}

.utb:hover:before, .utb:hover:after {
  width: 100%;
}

.utb-LR:before, .utb-LR:after {
  left: 0;
}

.utb-RL:before, .utb-RL:after {
  right: 0;
}

.utb-C:before, .utb-C:after {
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}

/* Opposite start */
.utb-OLR:before { /* Suffix denotes border transition direction for the top border (left to right). Bottom border will be the opposite direction */
  left: 0;
}

.utb-OLR:after {
  right: 0;
}

.utb-ORL:before {
  right: 0;
}

.utb-ORL:after {
  left: 0;
}

/* Links with square borders */

/* Please note that usquare is the parent span (not div) which would create the left and right borders. The link (.utb-OLR) gets nested within this */

.usquare{
  box-sizing:border-box; /* keeps the border from resizing the link */
  margin-left: 0.4rem;
  position: relative;
  overflow: hidden;
}

.usquare a{
  position: static;
  padding: 0.2rem 0.4rem;
}

.usquare:before, .usquare:after{
  content: "";
  box-sizing: border-box;
  transition: 0.25s all ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  width: 2px;
  width: 0.1 rem;
  height: 0;
  background: #7C8B9A;
}

.usquare:before{
  left: 0;
  bottom: -0.2rem;
}

.usquare.delay:before{
  transition-delay: 0.6s;
}

.usquare:after{
  right: 0;
  top: -0.2rem;
}

.usquare.delay:after{
  transition-delay: 0.2s;
}

.usquare a:before {
  left:0;
  transition: 0.25s all ease;
}

.usquare a:after {
  right:0;
  transition: 0.25s all ease;
}

.usquare.delay a:after {
  transition: 0.25s all ease 0.4s;
}

.usquare:hover:before, .usquare:hover:after{
  height:calc(100% + 0.4rem); /* Makes the left and right borders */
}

.usquare:hover a:before, .usquare:hover a:after{
  width:100%;
}
